.create-button {
  padding: 8px 24px;
  border: none;
  background-color: green;
  display: block;
  color: white;
  outline: none;
  cursor: pointer;
}

.create-input {
  height: 24px;
  width: 125px;
  border-radius: 4px;
}
